@import url('https://fonts.googleapis.com/css?family=Lora:100,200,300,400,600,600,700|Merriweather:100,200,300,400,600,600,700&display=swap');

/* COLOURS */



/* Body */
.hero-section{
    /* Reference https://codetheweb.blog/2017/12/07/fullscreen-image-hero/ */
    position: relative;

    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;

    /* Background styles */
    background: url("../images/luxury-home-with-swimming-pool-PGVBB3J.jpg");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.row.gutter-10 {
    margin-left: -5px;
    margin-right: -5px;
    [class*="col-"] {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.accreditation{
    position: absolute;
    bottom: 5%;
    left: 5%;
}

/* https://tympanus.net/codrops/2013/11/07/css-overlay-techniques/ */
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
  }

.gap100{
    padding: 70px 0px;
}

.h3w{
    color: white;
}

/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.navbar .navbar-toggler {
    border: 0;
}

.dropdown-item {
    font-weight: regular;
    color: #777;
}

.dropdown-item:hover {
    font-weight: bold;
}

.dropdown-menu{
    width: 280px;
}

.nabvar-width{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.navbar-logo{
    display: inline-block;
}

.navbar-menu{
    display: inline-block;
    position: absolute;
    right: 0%;
}

/* About */
.about-heading{
    font-family: "Lora", sans-serif;
    text-align: center;
}

.card img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    align-items: center;
}

/* SERVICES */
.services-heading{
    font-family: "Lora", sans-serif;
    text-align: center;
    margin-bottom: 20px;
}
.refunds{
    width: 50%;
}

/* PROCESS  */
.process-heading{
    font-family: "Lora", sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.step_1{
    width: 200px;
    height: 600px;
    background-color: black;
}

.step_2{
    width: 200px;
    height: 600px;
    background-color: yellow;
}

.step_3{
    width: 200px;
    height: 600px;
    background-color: red;
}

#blurb{
    background-image: linear-gradient(#181174,#731397);
}

.blb{
    padding: 25px;
}

.blb i {
    font-size: 60px;
    padding: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-bottom: 25px;
}

#step_3{
    padding: 50px 61.25px;
}

.blp{
    min-height: 25px;
}

#blurb_button{
    width: 50%;
}

/* FOOTER */

footer{
    background-color: #ECEEF6;
}

.footer_hyperlink a{
    color: inherit;
}

.footer_hyperlink a:hover{
    color: black;
}

/* MEDIA QUERIES */
